{{ $env := .Env }}
global
    tune.ssl.default-dh-param 2048
defaults
    mode http
    option forwardfor
    option http-server-close
    timeout server 5s
    timeout connect 1s
    timeout client 10s
    timeout tunnel 30m
frontend http-frn
    bind 0.0.0.0:80
    redirect scheme https
frontend https-frn
    bind 0.0.0.0:443 ssl crt {{ $env.SSL_KEY_AND_CERT }}
    reqadd X-Forwarded-Proto:\ https
{{ range $index, $name := split $env.BACKENDS ":" }}
    {{ with printf "BACKEND_%s_PATH" $name | index $env }} acl {{ $name }}-path-acl path_beg -i {{ . }} {{ end }}
    {{ with printf "BACKEND_%s_HOST" $name | index $env }} acl {{ $name }}-host-acl hdr(Host) -i {{ . }} {{ end }}
    use_backend {{ $name }} if {{ with printf "BACKEND_%s_PATH" $name | index $env }} {{ $name }}-path-acl {{ end }} {{ with printf "BACKEND_%s_HOST" $name | index $env }} {{ $name }}-host-acl {{ end }}
{{ end }}
{{ range $index, $name := split $env.BACKENDS ":" }}
backend {{ $name }}
    server {{ $name }}-srv {{ printf "BACKEND_%s_HOSTPORT" . | index $env }} weight 1 maxconn 1024 check
{{ end }}
