{{ $env := .Env }}
global
    tune.ssl.default-dh-param 2048
defaults
    mode http
    option forwardfor
    option http-server-close
    timeout server 5000
    timeout connect 1000
    timeout client 10000
frontend http-frn
    bind 0.0.0.0:80
    redirect scheme https
frontend https-frn
    bind 0.0.0.0:443 ssl crt {{ $env.SSL_KEY_AND_CERT }}
    reqadd X-Forwarded-Proto:\ https
{{ range split $env.BACKENDS ":" }}{{ $name := . }}
    acl {{ $name }}-path-acl path_beg -i {{ printf "BACKEND_%s_PATH" $name | index $env }}
    use_backend {{ $name }} if {{ $name }}-path-acl
{{ end }}
{{ range split $env.BACKENDS ":" }}{{ $name := . }}
backend {{ $name }}
    server {{ $name | printf "%s-srv" }} {{ printf "BACKEND_%s_HOSTPORT" . | index $env }} weight 1 maxconn 1024 
check
{{ end }}
